
  
  .pokemonDatas {
    margin: auto;
    max-width: 300px;
    min-height: 200px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .pokemonImages{
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 200px;
    min-height: 200px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .pokemonImages img{
    width: 100%;
    height: 100%;
  }

  .link{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .link button{
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }

